/** @format */

.entryContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid grey;
}
.imageContainer {
    width: 25%;
    display: flex;
    justify-content: center;
}
.image {
    width: 200px;
    border: 5px solid grey;
    border-radius: 50%;
}
.informationContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.descriptionText {
    text-align: left;
}
.headerText {
    margin-bottom: 5px;
}
