/** @format */

.entryContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid grey;
}
.imageContainer {
    width: 25%;
    display: flex;
    justify-content: center;
}
.image {
    width: 200px;
    border: 1px solid grey;
    border-radius: 50%;
}
.informationContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}
.descriptionText {
    text-align: left;
}
.headerText {
    margin-bottom: 5px;
}
.expand-btn-container {
    display: flex;
    justify-content: flex-end;
}
.expand-btn {
    height: 100px;
    width: 100px;
    font-size: 50px;
}
.showMore {
    display: flex;
    width: 100%;
    height: 100%;
}
.tagsContainer {
    display: flex;
    flex-direction: row;
}
.tags {
    border: solid;
    background-color: grey;
    border-radius: 10%;
    color: white;
    margin: 10px;
    padding: 10px;
}
.formContainer {
    display: flex;
    align-items: center;
    margin: 20;
}
.add-tag-input {
    height: 50px;
    font-size: 45px;

    margin: 10px;
}
